*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}
body{
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(background-img.jpg);
    background-size: cover;
    image-rendering: -webkit-optimize-contrast;
    color: white;
    background-size: cover;
    width: 100%;
    min-height: 100vh;
    image-rendering: -webkit-optimize-contrast;
    position: relative;
    overflow-y: auto;
}
nav{
    height: 80px;
    background: #2c3e50;
}
nav .imgcl1{
    width: 130px;
    position: absolute;
    top: 10px;
    left: 6%;
}
nav .bar{
    float: right;
    margin-right: 25px;
}
nav .bar li{
    display: inline-block;
    line-height: 80px;
    margin: 0 15px;
}
nav .bar li a{
    position: relative;
    color: white;
    font-size: 18px;
    padding: 5px 0;
    text-transform: uppercase;
}
nav .bar li a:before{
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    height: 3px;
    width: 100%;
    background: white;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform .2s linear;
}
nav .bar li a:hover:before{
    transform: scaleX(1);
    transform-origin: left;
}

label #btn,
label #cancel{
    color:white;
    font-size: 30px;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}
@media (max-width: 1118px) {
    nav img{
        left: 8%;
    }

}
@media (max-width: 944px) {
    nav img{
        left: 4%;
        top: 5px;
        width: 110px;
    }
    nav .bar li a{
        font-size: 17px;
    }
}
@media (max-width: 860px) {
    label #btn{
        display: block;
    }
    .bar{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #34495e;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav .bar li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav .bar li a{
        font-size: 20px;
    }
    #check:checked ~ ul{
        left: 0;
    }
    #check:checked ~ label #btn{
        display: none;
    }
    #check:checked ~ label #cancel{
        display: block;
    }
}
::selection{
    background: rgba(26,188,156,0.3);
}


.Regcontainer{
    max-width: 440px;
    padding: 0 20px;
    margin: 170px auto;
}
.Regcontainer2{
    max-width: 600px;
    padding: 0 20px;
    margin: 170px auto;
}
.Regwrapper{
    width: 100%;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0px 4px 10px 1px rgba(0,0,0,0.1);

}
.Regwrapper .title{
    height: 90px;
    background: #2c3e50;
    border-radius: 5px 5px 0 0;
    color: #fff;
    font-size: 30px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Regwrapper label b{
    color: black;
}

.Regwrapper p{
    color: black;
}

input.reg, input.reg {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

input.reg:focus, input.reg:focus {
background-color: #ddd;
outline: none;
}




.registerbtn {
background-color: #2c3e50;
color: white;
padding: 16px 20px;
margin-top: 12px;
border: none;
cursor: pointer;
width: 100%;
opacity: 0.9;
}

.registerbtn:hover {
opacity: 1;
}


a {
color: dodgerblue;
}


footer h5{
    text-align: center;
    background-color: #2c3e50;
    padding: 0px;
    color: white;
    bottom: 0;
    left: 0;
    position: fixed;
    font-size: 10.5px;
}

.container {
    padding-top: 80px;
    width: 100%;
    display: flex;
  }
  
.left {
flex: 50%;
margin-left: 30px;
}

.left p{
    max-width: 600px;
}

.right {
flex: 50%;
}

.container .right .fourbyfour{
    width: 600px;
    height: 600px;
    margin: 0 auto;
}

.fourbyfour img {
    border: 2px solid black;
    width: 45%;
    height: 45%;
  }


.Regwrapper .error-message {
    color: red;
    font-weight: bold;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 2px;
}

.Regwrapper .error-messagereg {
    color: red;
    font-weight: bold;
    padding-top: 5px;
    padding-bottom: 5px;
}




